
   <!-- Navigation -->
    <nav style="background-color:black;" id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom animated rubberBand">

        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                 <!-- 
                   <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>

                 -->
                </button>
                <a class="navbar-brand" href="#page-top">Inmobiliaria </a>

 </div>
<div>
   <nombre-user usuarito=user.usuario><nombre-user>                    </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                   <!--

                    <li class="page-scroll">
                        <a ui-sref="usuario.menu()">Usuarios</a>
                    </li>                    
                   
     
                   

                    <li ng-if="user.perfil" class="page-scroll">
                        <a ui-sref="persona.menu()">Comprar</a>
                    </li>
                </ul>

                -->
<!--
-->
<menu-central>
    
</menu-central>



<!--


                                        <a ng-if='!user' ui-sref="usuario.login()" class="list-group-item-success  list-group-item list-group-item-success">
                                          <h4 class="list-group-item-heading">Login de usuarios</h4>
                                        </a>
                                        
                                    <a ng-if="user.perfil =='administrador'"  ui-sref="usuario.registrarse()" class="list-group-item  list-group-item list-group-item-info">
                                          <h4 class="list-group-item-heading">Registro de usuarios</h4>
                                        </a>
                                    

                                        <a ng-if='user' ng-click="Desloguearse()" class="list-group-item  list-group-item list-group-item-danger">
                                          <h4 class="list-group-item-heading">Desloguearse</h4>
                                        </a>
                                        
-->


            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header 

        <header style="background-color:powderblue;">
     Header -->
        <header style="background-color:gray;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">                   
                    <div class="intro-text animated wobble">
                        <span  style="color:red;"    class="name">El Campito s.a.</span>
                            </div>
                        <hr class="star-light">






                        <span class="skills">*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*</span>
                         <div class="intro-text animated flip">
                         <img class="img-responsive" src="img/inmo1.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>


    </header>
    <br><br>
 <p style="color:gray;">© 2016 El Campito es una marca registrada de Matias De Salvo </p> 
