<tr style="color:red; font-weight: 900;">

							
										<td>{{objEnv.direccion}}</td>
										<td>{{objEnv.foto1}}</td>
										<td>{{objEnv.foto2}}</td>
										<td>{{objEnv.foto3}}</td>
										<td>{{objEnv.oferta | filtroOferta}}</td>										
										
<!--<td>{{user.perfil}}</td>-->
	<!--										
										<td><button ng-if="user.perfil !='comprador'" class='btn btn-danger' name='Borrar' ng-click="Borrar(objEnv)">   <span class='glyphicon glyphicon-remove-circle'>&nbsp;</span>Borrar</button></td>
										
										<td><button ng-if="user.perfil =='administrador'" class='btn btn-warning' name='Modificar' ng-click="Modificar(objEnv)"><span class='glyphicon glyphicon-edit'>&nbsp;</span>Modificar</button></td>
-->

</tr>
	
