
  <div class=ui-base> 
	<ul class="nav nav-tabs">
		         <li  class="btn btn-success animated rubberBand" >
		         	<a  style="color:red; font-weight: 900;" ui-sref="inicio()">
		         		 <span  style="color:blue;" class="glyphicon glyphicon-list-alt">&nbsp;</span>
		         		 Inicio
		         	</a>
		         </li>
		         <li  ng-if="user.perfil !='clien'"  class="btn btn-success animated rubberBand" >
		         	<a  style="color:red; font-weight: 900;" ui-sref="productoAlta()">
		         		 <span  style="color:blue;" class="glyphicon glyphicon-list-th">&nbsp;</span>
		         		 Ingresar Vivienda
		         	</a>
		         </li>

		         <li  class="btn btn-info animated rubberBand" >
		         	<a  style="color:red; font-weight: 900;" ui-sref="productosGrilla()"> 
		         		<span  style="color:blue" class="glyphicon glyphicon-th" >&nbsp;</span>
		         			Inmuebles</a>
		         		</li>
		        	   <li ng-if="user.perfil =='admin'"   class="btn btn-success animated rubberBand" >
		         	<a  style="color:red; font-weight: 900;" ui-sref="productoMOD()">
		         		 <span  style="color:blue;" class="glyphicon glyphicon-list-alt">&nbsp;</span>
		         		 Asignar Sucursal
		         	</a>
		         </li>
					  <li  ng-if="user.perfil !='clien'"  class="btn btn-success animated rubberBand" >
							         	<a  style="color:red; font-weight: 900;" ui-sref="pedidos()">
							         		 <span  style="color:blue;" class="glyphicon glyphicon-list-th">&nbsp;</span>
							         		Pedidos
							         	</a>
							         </li>













 				 <div ><nombre-user  usuarito=user.usuario><nombre-user>                    </div>
      </ul>
      <div ui-view name="contenido" animation="slide-left-right">


       </div></div>